MANIFEST
dist
corpora
tags
Makefile
__pycache__
build/
unicode_data/
po/onboard.pot
config.log
config.status
data/org.onboardosk.gschema.valid
po/POTFILES
po/stamp-it
project_config.h
src/onboard-gtk/onboard_gtk
autom4te.cache
ar-lib
aclocal.m4
Makefile.in
Makecache
configure
install-sh
missing
compile
./config.h
./config.h.in
./config.log
./config.status
libtool
.deps
.libs
*.la
*.lo
*.gir
*.typelib
*_gir
*.bak
stamp-h1
**/tests/*.log
**/tests/*.trs
.dirstamp
**/tests/[^.]*
*.autosave
*.creator*
*.files
*.includes
*.config
*.o
*.*~
*~
project_config.h.in
intltool-extract.in
intltool-merge.in
intltool-update.in
po/Makevars.template
